[Unit]
Description=Sets mem_limit /dev/%i to 12G
After=dev-%i.device
ConditionPathExists=/sys/block/%i/mem_limit

[Service]
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/echo 12G > /sys/block/%i/mem_limit"

[Install]
WantedBy=multi-user.target
