[Unit]
Description=Sets 4 GB writeback_limit for /dev/%i to reduce SSD wear
DefaultDependencies=false
ConditionPathExists=/sys/block/%i/writeback_limit

[Service]
Environment=WRITEBACK_GB=4
Environment=SHIFT_GB=30
Environment=SHIFT_4K=12
Type=oneshot
ExecStart=/bin/bash -c "/usr/bin/echo $((WRITEBACK_GB << SHIFT_GB >> SHIFT_4K)) > /sys/block/%i/writeback_limit"
