[Unit]
Description=Timer to reset writeback_limit for /dev/%i every 24 hours
DefaultDependencies=false
ConditionPathExists=/sys/block/%i/writeback_limit

[Timer]
OnBootSec=0
OnUnitInactiveSec=1day

[Install]
WantedBy=timers.target
